.block {
    display: block;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.shadow-md {
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.rounded {
    border-radius: 0.25rem;
}

.grid {
    display: grid;
}

.grid-cols-1 {
    grid-template-columns: 1fr;
}

@media (min-width: 680px) {
    .sm\:grid-cols-2 {
        grid-template-columns: repeat(2, 1fr);
    }
}

.gap-4 {
    gap: 1rem;
}

.title {
    font-family: "Poppins", sans-serif;
}

.gradient-text {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
}
