* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #7F00FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    display: flex;
    justify-content: center;

    font-family: "Inter", sans-serif;
}

main {
    margin: 1rem;
    padding: 1em;
    border-radius: 0.25rem;

    background: #fff;
    max-width: 90%;
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: justify;
}

h1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    text-transform: uppercase;
    text-align: center;
}

.link-music {
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
    background: #fff;
    border-width: 1px;
    border-color: rgb(243, 244, 246);
    border-radius: 0.25rem;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

    text-align: center;
    color: rgb(55, 65, 81);
}

.link-music-title {
    font-weight: 600;
    line-height: 1.5rem;
    text-transform: uppercase;
}

.link-music-author {
    color: rgb(75, 85, 99);
}

.link-music-info {
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    border-top: 1px solid rgb(229, 231, 235);
    color: #000;
}

img {
    max-width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    main {
        max-width: 75%;
    }
}

@media (min-width: 1024px) {
    main {
        max-width: 65%;
    }
}
